body {
    font-family: sans-serif;
    margin:0;
    background-color: #eae3e0;
}
/*styling van de header inhoud*/
#logo {
    max-width: 100%;
    max-height: 100%;
}
/*opmaak voor duidelijke vakverdeling cssgrid
#content div{
    background: #D3D3D3;
}
#content div:nth-child(even){
    background: #808080;
}
*/

/*
th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}

th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}
*/

/*dit is de styling voor de css grid*/
#content{
    display:grid;
    grid-template-columns:(5 1fr);
    grid-template-rows: repeat(8, minmax(150px, auto));
    grid-gap: 15px;
    align-items:stretch;
}

.box1{
    grid-column: 1/5;
    grid-row:1;
    background:#fff;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    height:60px;
    padding-top:20px;
    padding-bottom:20px
}

.box2{
    grid-column:1/3;
    grid-row: 2;
    text-align:center;
    padding-top:150px;
    color:#4a4a4a;
}

.box3{
    grid-column:3/5;
    grid-row: 2;
    text-align:center;
    max-width: 100%;
    height: auto;
}

.box4{
    grid-column:1/2;
    grid-row: 3;
    text-align:center;
    height:80px;
    padding-right:20px;
}

.box5{
    grid-column:2/3;
    grid-row: 3;
    text-align:center;
    height:80px;
    padding-right:20px;
}

.box6{
    grid-column:1/3;
    grid-row: 4;
    text-align:center;
    height:80px;
    padding-right:20px;
}

.box7{
    grid-column:1/2;
    grid-row: 5;
    text-align:center;
    height:300px;
    padding-right:20px;
}

.box8{
    grid-column:2/3;
    grid-row: 5;
    text-align:center;
    height:300px;
    padding-right:20px;
}

.box9{
    grid-column:3/5;
    grid-row: 3/6;
    text-align:center;

}

.box10{
    grid-column:1/3;
    grid-row: 6;
    text-align:center;
}

.box11{
    grid-column:3/5;
    grid-row: 6;
}

a{
color:#4a4a4a;
text-decoration:none;
}

a:hover {
opacity: 60%;
}

/*dit is de submit button*/
#submit{
    background-color: #cfafaf ;
    cursor:pointer;
    font-family:arial;
    color: white;
    font-weight:bold;
    border: none;
    margin-left:0px;
    width:720px;
}

/*dit zijn de input velden voor name, lastname, email, phone number, message etc*/
input{
    font-size: 1.4rem;
    line-height: 1.71429;
    width: 100%;
    margin:20px 20px 20px 20px;
    padding:10px 10px 10px 10px;
    background-color: #fff;
    border: 1px solid #fff;
    font-family: "Avenir Next",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #4a4a4a;
}

/*Hieronder is de styling voor verschillende Headings*/
h1 {
    font-family: "Monotype Baskerville", serif;
    font-style: normal;
    font-weight: 400;
}

h2{
    font-family: "Monotype Baskerville",serif;
    color: #4a4a4a;
}

a{
    color:#4a4a4a;
    text-decoration:none;
}

a:hover {
    opacity: 60%;
}

/*Hieronder is de styling van de Calendar*/
.container {
    font-family: "Monotype Baskerville",serif;
    color:#000;
    background-color: #cfafaf;
    width:720px;
    padding-left:0px;
}

th {
    height: 30px;
    text-align: center;
}

td {
    height: 100px;
    width:100px;
    border: 1px solid black;
    background-color: #eae7e0;
}

.today {
    background-color: #cfafaf;
}
/*stylen van footer*/
footer{
    text-align:center;
    background-color:#eae7e0;
}
footer li{
    display:inline-block;
    padding:40px
}












